<% @page = "resume" %>
<section class="user">
	<div class="container">
		<h1><%= @user.name.downcase %></h1>
		<h2><%= @user.title.downcase %></h2>
	</div>
</section>

<% if (@contacts.count > 0) %>
<section class="contacts">
<%= erb :"/resume/_contacts" %>
</section>
<% end %>

<% if (@skills.count > 0) %>
<section class="skills">
	<div class="container">
		<h3>skills</h3>
		<div class="row">
			<% 
			count = (@skills.count.to_f/2).ceil
			@skills.each_slice(count) do |parts| %>
			<div class="col">
				<div class="content-wrapper">
				<% 
				count = (parts.count.to_f/2).ceil
				parts.each_slice(count) do |part| 
				%>
					<div>
						<div>
							<% part.each do |p| %>
							<div><%= p.name %></div>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>
<% end %>

<% if (@jobs.count > 0) then %>
<section class="jobs">
	<div class="container">
		<hr>
		<h3>work experience</h3>
		<% @jobs.each do |job| %>
		<div class="job">
			<div class="title"><%= job.title %></div>
			<div class="content-wrapper">
				<div><%= job.start_year %>-<%= job.end_year %></div>
				<div><%= job.location %></div>
			</div>
			<div class="description"><%= job.description %></div>
		</div>
		<% end %>
	</div>		
</section>
<% end %>

<% if (@projects.count > 0) then %>	
<section class="projects">
	<div class="container">
		<hr>
		<h3>projects</h3>
		<% @projects.each do |project| %>
		<div class="project">
			<div class="title"><%= project.title %></div>
			<div class="year"><%= project.year %></div>
			<div class="description"><%= project.description %></div>
		</div>
		<% end %>
	</div>		
</section>
<% end %>

<% if (@schools.count > 0) then %>
<section class="schools">
	<div class="container">
		<hr>
		<h3>education</h3>
		
		<% 
		@schools_land   = @schools.where("online = false")
		@schools_online = @schools.where("online = true")
		@schools_land.each do |school| 
		%>
		<div class="school">
			<div class="title"><%= school.name %><%= " &ndash; #{school.degree}" if school.degree.present? %>
			</div>
			<div class="content-wrapper">
				<div>
					<%= "#{school.start_year}-" if school.start_year.present? %>
					<%= school.end_year %>	
				</div>
				<div><%= school.location %></div>
			</div>
			<div class="description">
				<em>Emphasis:</em> <%= school.emphasis %>
			</div>
		</div>
		<% end %>
		
		<% if @schools_online.count > 0 then %>
		<h4>online learning</h4>
		<% end %>
		<% @schools_online.each do |school| %>
		<div class="school">
			<div class="title"><%= school.name %><%= " &ndash; #{school.degree}" if school.degree.present? %>
			</div>
			<div class="content-wrapper">
				<div>
					<%= "#{school.start_year}-" if school.start_year.present? %>
					<%= school.end_year %>	
				</div>
				<div><%= school.location %></div>
			</div>
			<div class="description">
				<em>Emphasis:</em> <%= school.emphasis %>
			</div>
		</div>
		<% end %>
	</div>
</section>
<% end %>

<% if (@contacts.count > 0) then %>
<section class="contacts with-heading">
	<hr>
	<h4>contact me</h4>
	<%= erb :"/resume/_contacts" %>
</section>
<% end %>