<%
form_heading     = "Add Project"
form_description = "Complete this form to enter a new project."
form_action      = "/projects"
form_submit      = "Add"

if (@page == "edit") then
  form_heading     = "Edit Project"
  form_description = "Complete this form to update an existing project."
  form_action      = "/projects/edit"
	form_submit      = "Update"
end
%>

<div class="container-vertical">
	<div class="form-wrapper">
		<form class="form" action="<%= form_action %>" method="post">
			<h1><%= form_heading %></h1>
			<p><%= form_description %></p>
			
			<% if (@errors.length > 0) then %>
			<div class="form-errors">
				Errors:
				<ul>
					<% @errors.each do |error| %>
					<li><%= error %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" id="title" name="title" value="<%= @project.title %>">
			</div>

			<div class="form-group">
				<label for="year">Year:</label>
				<input type="text" id="year" name="year"  value="<%= @project.year.to_s if @project.year.to_i > 0 %>">
			</div>

			<div class="form-group">
				<label for="description">Description:</label>
				<textarea id="description" name="description"><%= @project.description %></textarea>
			</div>

			<div class="form-group submit">
				<button class="btn"><%= form_submit %></button>
			</div>
			
			<input type="hidden" id="projectId" name="projectId" value="<%= @project.id %>">
		</form>			
	</div>
</div>